﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Unity</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<section class="container">
    <header class="row">
        <div class="col-sm-12 page-header">
            <h1>Unity Formularz - <small>@ViewBag.Title</small></h1>
        </div>
    </header>
    @RenderBody()
    <footer class="row" style="margin-top: 50px;">
        <div class="col-sm-12 panel-footer">
            <p>&copy; @DateTime.Now.Year - Unity</p>
        </div>
    </footer>
</section>

@Scripts.Render("~/bundles/js")
@RenderSection("scripts", required: false)
</body>
</html>

