﻿@model AddressViewModel
    
@Html.EditorFor(m => m.Street, "_TextBox")
@Html.EditorFor(m => m.StreetNo, "_TextBox")
@Html.EditorFor(m => m.PostCode, "_TextBox")

<div class="form-group">
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.CityId, new {@class = "control-label"})
        </div>
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.CityId, Model.Cities.Select(p => new SelectListItem
            {
                Selected = p.Id == Model.CityId,
                Text = p.Name,
                Value = p.Id.ToString()
            }), new {@class = "form-control"})
        </div>
    </div>
    <div class="has-error">
        @Html.ValidationMessageFor(m => m.CityId)
    </div>
</div>