﻿@model CustomerViewModel

@Html.EditorFor(m => m.FirstName, "_TextBox")
@Html.EditorFor(m => m.LastName, "_TextBox")

<div class="form-group">
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", placeholder= "DD-MM-RRRR" })
        </div>
    </div>
    <div class="has-error">
        @Html.ValidationMessageFor(m => m.DateOfBirth)
    </div>
</div>