﻿@model string

<div class="form-group">
    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(m => m, new {@class = "control-label"})
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(m => m, new {@class = "form-control"})
        </div>
    </div>
    <div class="has-error">
        @Html.ValidationMessageFor(m => m)
    </div>
</div>

