﻿@model FormViewModel
@{
    ViewBag.Title = "Formularz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Form", FormMethod.Post))
{
    <h2>Wypełnij poniższy formularz:</h2>
    
    @Html.EditorFor(m => m.Customer, "_Customer")

    <div>
        <p>Adres zameldowania:</p>
        @Html.EditorFor(m => m.Address, "_Address")
    </div>

    <div class="row">
        <div class="form-group col-sm-3">
            @Html.LabelFor(m => m.IsCorrespondenceAddressSame, new {@class = "control-label"})
        </div>
        <div class="col-sm-3">
            @Html.CheckBoxFor(m => m.IsCorrespondenceAddressSame)
        </div>
    </div>

    <div id="correspondence">
        <p>Adres korespondencyjny:</p>
        @Html.EditorFor(m => m.CorrespondenceAddress, "_Address")
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Prześlij"/>
        @Html.ActionLink("Anuluj","Index", "Home", null, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function ShowHideCorrespondencePart($el) {
            if ($el.is(':checked')) {
                $("#correspondence").hide();
            } else {
                $("#correspondence").show();
            }
        }

        ShowHideCorrespondencePart($('#IsCorrespondenceAddressSame'));

        $(function() {
            $("#IsCorrespondenceAddressSame").click(function() {
                ShowHideCorrespondencePart($(this));
            });
        });
    </script>
}


