﻿@model IEnumerable<Customer>
@{
    ViewBag.Title = "Strona Domowa";
}

<p class="has-success">@ViewBag.Message</p>
<div>
    @Html.ActionLink("Dodaj Formularz", "Index", "Form", null, new {@class= "btn btn-primary" })
</div>

<div>
    <h2>Lista przesłanych formualarzy:</h2>
    @{
        if (Model.Any())
        {
            <div class="row uppercase">
                <div class="col-sm-2">Imię</div>
                <div class="col-sm-2">Nazwisko</div>
                <div class="col-sm-2">Data Urodzenia</div>
                <div class="col-sm-2">Miasto</div>
                <div class="col-sm-2">Powiat</div>
                <div class="col-sm-2">Województwo</div>
            </div>
            <hr/>
            foreach (var customer in Model)
            {
                <div class="row">
                    <div class="col-sm-2">
                        @customer.FirstName
                    </div>
                    <div class="col-sm-2">
                        @customer.LastName
                    </div>
                    <div class="col-sm-2">
                        @customer.DateOfBirth
                    </div>
                    <div class="col-sm-2">
                        @customer.Address.City.Name
                    </div>
                    <div class="col-sm-2">
                        @customer.Address.City.County
                    </div>
                    <div class="col-sm-2">
                        @customer.Address.City.Province
                    </div>
                    </div>
            }
        }
        else
        {
            <div>Nie dodano jeszcze żadnych danych.</div>
        }
    }
</div>
